body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
a, a:hover, a:focus {
    text-decoration: none;
    color: inherit;
}
.outer-wrapper {
    display: table;
    width: 100%;
}
.inner-wrapper {
    display: table-cell;
    vertical-align: middle;
    height: 100vh;
}
.container-md {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.container-sm {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.space-btw {
    text-align: justify;
}
.space-btw:after {
	content: '';
	display: inline-block;
	width: 100%;
}
.space-btw>* {
	display: inline-block;
}
.inline-middle>* {
    display: inline-block;
    vertical-align: middle;
}

.admin-grid {
    min-height: 100vh;
    background-image: url(../img/background_photo.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.white-blur {
    position: absolute;
    top: 0;left: 0;right: 0;bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}
.header-float-top {
    width: 100%;
    max-width: 320px;
    height: 75px;
    line-height: 75px;
    font-size: 26px;
    border-radius: 10px;
    background-color: rgba(234, 234, 234, 0.75);
    -webkit-box-shadow: inset 0px 0px 51px -1px rgba(117,117,117,1);
    -moz-box-shadow: inset 0px 0px 51px -1px rgba(117,117,117,1);
    box-shadow: inset 0px 0px 51px -1px rgba(117,117,117,1);
    margin: 0 auto 80px auto;
    text-align: center;
}
.form-holder {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(234, 234, 234, 0.75);
    -webkit-box-shadow: inset 0px 0px 51px -1px rgba(117,117,117,1);
    -moz-box-shadow: inset 0px 0px 51px -1px rgba(117,117,117,1);
    box-shadow: inset 0px 0px 51px -1px rgba(117,117,117,1);
    padding: 20px;
    border-radius: 10px;
}
.form-header {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 24px;
}
.input-field {
    border-radius: 5px;
    border-top: 2px solid rgba(74, 74, 74, 0.8);
    border-right: 2px solid rgba(112, 112, 112, 0.8);
    border-bottom: 0;
    border-left: 0;
    font-size: 16px;
}
#loginForm .form-action-holder {
    display: table;
}
#loginForm .form-action-holder>* {
    display: table-cell;
    vertical-align: middle;
}
.ui-checkbox {
    display: none;
}
.ui-checkbox + label {
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
}
.ui-checkbox + label:before {
    background-color: #fff;
    border-top: 2px solid rgba(74, 74, 74, 0.8);
    border-right: 2px solid rgba(112, 112, 112, 0.8);
    padding: 9px;
    border-radius: 0px;
    display: block;
    position: absolute;
    top: 0;
    left:0;
    content: "";
}
.ui-checkbox:checked + label:before {
    border-top: 2px solid rgba(74, 74, 74, 0.8);
    border-right: 2px solid rgba(112, 112, 112, 0.8);
    color: #99a1a7;
}
.ui-checkbox:checked + label:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 4px;
    color: #707070;;
}
.login-btn-holder {
    width: 100%;
    max-width: 350px;
    margin-left: 25px;
}
.green-btn {
    height: 35px;
    width: 100%;
    max-width: 320px;
    text-align: center;
    background-color: #b8c58c;
    border-bottom: 2px solid rgba(74, 74, 74, 0.8);
    border-left: 2px solid rgba(112, 112, 112, 0.8);
    border-top: 0;
    border-right: 0;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: inset -3px 0px 1px 0px #fff, inset 3px 0px 1px 0px #fff;
}
.green-btn:hover {
    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
    
    color: #fff;
    background-color: #6ace6a;
}
.green-btn:focus {
    background-color: #0e640e;
}
.bottom-links {
    color: #004ddf;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}
.bottom-links>a {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
}
.bottom-links>a:hover {
    -webkit-transition: ease 0.4s;
    -moz-transition: ease 0.4s;
    -o-transition: ease 0.4s;
    transition: ease 0.4s;
    
    text-decoration: underline;
    color: #003db1;
}
.bottom-links>a:first-child {
    border-right: 2px solid rgba(74, 74, 74, 0.8);
    padding-right: 16px;
    margin-right: 10px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #717171;
    font-size: 16px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #717171;
    font-size: 16px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #717171;
    font-size: 16px;
}
:-moz-placeholder { /* Firefox 18- */
    color: #717171;
    font-size: 16px;
}
input[type="text"]::-moz-placeholder { font-size: 20px; text-align: center; }
input[type="text"]::-webkit-input-placeholder { font-size: 20px; text-align: center; }
input[type="text"]:-ms-input-placeholder { font-size: 20px; text-align: center; }
input[type="text"]::-ms-input-placeholder { font-size: 20px; text-align: center; }
input[type="text"]::placeholder { font-size: 20px; text-align: center; } 

textarea::-moz-placeholder { font-size: 20px; text-align: center; }
textarea::-webkit-input-placeholder { font-size: 20px; text-align: center; }
textarea:-ms-input-placeholder { font-size: 20px; text-align: center; }
textarea::-ms-input-placeholder { font-size: 20px; text-align: center; }
textarea::placeholder { font-size: 20px; text-align: center; } 

.image-load-holder {
    border-top: 2px solid rgba(74, 74, 74, 0.8);
    border-right: 2px solid rgba(112, 112, 112, 0.8);
    border-bottom: 0;
    border-left: 0;
    height: 190px;
    width: 100%;
    max-width: 205px;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    margin-right: 20px;
    border-radius: 5px;
}
.image-upload-form {
    text-align: left;
    margin-bottom: 20px;
}
.image-upload-form>* {
    display: inline-block;
    vertical-align: top;
}
.upload-holder {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 200px;
}
.upload-holder input.upload-file {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    opacity: 0;
    filter: alpha(opacity=0);
}
.upload-fictive {
    border-top: 2px solid rgba(74, 74, 74, 0.8);
    border-right: 2px solid rgba(112, 112, 112, 0.8);
    border-bottom: 0;
    border-left: 0;
    display: block;
    height: 40px;
    width: 100%;
    max-width: 200px;
    text-align: center;
    background-color: #fff;
    font-size: 16px;
    line-height: 37px;
    border-radius: 5px;
}
.not-found-label {
    margin-top: 10px;
    display: block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    font-size: 12px;
}
.textarea-field {
    border-top: 2px solid rgba(74, 74, 74, 0.8);
    border-right: 2px solid rgba(112, 112, 112, 0.8);
    border-bottom: 0;
    border-left: 0;
    display: block;
    width: 100%;
    resize: none;
    border-radius: 5px;
}


.confirmed-outer {
    width: 100%;
    display: table;
}
.confirmed-inner {
    height: 230px;
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
}

.admin-holder {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(234, 234, 234, 0.75);
    -webkit-box-shadow: inset 0px 0px 51px -1px rgba(117,117,117,1);
    -moz-box-shadow: inset 0px 0px 51px -1px rgba(117,117,117,1);
    box-shadow: inset 0px 0px 51px -1px rgba(117,117,117,1);
    padding: 20px;
    border-radius: 10px;
}
.admin-table, .admin-table th, .admin-table td {
    border: 2px solid #000;
}
.admin-table>thead>tr>th {
    border-color: #000;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
}
.admin-table>thead>tr>th:nth-child(1) {
    width: 5%;
}
.admin-table>thead>tr>th:nth-child(2) {
    width: 10%;
}
.admin-table>thead>tr>th:nth-child(3) {
    width: 25%;
}
.admin-table>thead>tr>th:nth-child(4) {
    width: 14%;
}
.admin-table>thead>tr>th:nth-child(5) {
    width: 10%;
}
.admin-table>thead>tr>th:nth-child(6) {
    width: 18%;
}
.admin-table>thead>tr>th:nth-child(7) {
    width: 18%;
}

.admin-table>tbody>tr>td {
    height: 100px;
    vertical-align: middle;
}
.admin-table>tbody>tr>td:nth-child(1) {
    width: 5%;
    font-size: 12px;
}
.admin-table>tbody>tr>td:nth-child(2) {
    width: 10%;
    font-size: 12px;
}
.admin-table>tbody>tr>td:nth-child(3) {
    font-size: 10px;
    text-align: justify;
    width: 25%;
}
.admin-table>tbody>tr>td:nth-child(4) {
    width: 14%;
}
.admin-table>tbody>tr>td:nth-child(5) {
    width: 10%;
    font-size: 18px;
}
.admin-table>tbody>tr>td:nth-child(6) {
    width: 18%;
}
.admin-table>tbody>tr>td:nth-child(7) {
    width: 18%;
}


.action-admin {
    font-size: 18px;
    color: #4874ff;
    cursor: pointer;
}
.action-admin:hover {
     -webkit-transition: all 550ms ease;
    -moz-transition: all 550ms ease;
    -o-transition: all 550ms ease;
    transition: all 550ms ease;
    
    text-decoration: underline;
    color: #3f5cb9;
}
.overflow-issue {
    height: 100px;
    overflow-y: scroll;
}
.add-new-btn {
    width: 100%;
    height: 43px;
    text-align: center;
    background-color: #dee3bd;
    font-size: 18px;
    border: 2px solid #000;
    border-bottom: none;
}
.add-new-btn:hover {
     -webkit-transition: all 550ms ease;
    -moz-transition: all 550ms ease;
    -o-transition: all 550ms ease;
    transition: all 550ms ease;
    
    background-color: #ffd95c;
}

/* Margins and paddings */
.zero {
    margin: 0;
    padding: 0;
}
.mar-vl-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.mar-lt-1 {
    margin-left: 10px;
}
.mar-lt-2 {
    margin-left: 20px;
}
.mar-rt-1 {
    margin-right: 10px;
}
.mar-rt-2 {
    margin-right: 20px;
}
.mar-bt-0 {
    margin-bottom: 0px;
}
.mar-bt-1 {
    margin-bottom: 10px;
}
.mar-bt-2 {
    margin-bottom: 20px;
}
.mar-bt-3 {
    margin-bottom: 30px;
}
.mar-bt-4 {
    margin-bottom: 40px;
}
.mar-bt-5 {
    margin-bottom: 50px;
}
.mar-bt-6 {
    margin-bottom: 60px;
}
.mar-tp-0 {
    margin-top: 0px;
}
.mar-tp-1 {
    margin-top: 10px;
}
.mar-tp-2 {
    margin-top: 20px;
}
.mar-tp-3 {
    margin-top: 30px;
}
.mar-tp-4 {
    margin-top: 40px;
}
.mar-tp-6 {
    margin-top: 60px;
}
.mar-tp-7 {
    margin-top: 70px;
}
.mar-tp-8 {
    margin-top: 80px;
}
.mar-tp-10 {
    margin-top: 100px;
}
.mar-tp-15 {
    margin-top: 150px;
}
.pad-bt-0 {
    padding-bottom: 0px!important;
}
.pad-lt-1 {
    padding-left: 10px;
}
.pad-rt-1 {
    padding-right: 10px;
}
.pad-hz-0 {
    padding-left: 0px;
    padding-right: 0px;
}
.pad-hz-2 {
    padding-left: 20px;
    padding-right: 20px;
}
.pad-hz-3 {
    padding-left: 30px;
    padding-right: 30px;
}
.pad-hz-4 {
    padding-left: 40px;
    padding-right: 40px;
}
.pad-vl-2 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.pad-vl-4  {
    padding-top: 40px;
    padding-bottom: 40px;
}
.pad-vl-6 {
    padding-top: 60px;
    padding-bottom: 60px;
}
.pad-tp-2 {
    padding-top: 20px;
}
.pad-tp-5 {
    padding-top: 50px;
}
.pad-tp-7 {
    padding-top: 70px;
}
/* Margins and paddings */

/* Responsive layout */
@media screen and (max-width: 767px) {
    .table-responsive {
        padding: 0;
    }
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
        white-space: normal!important;
    }
}
@media screen and (max-width: 506px) {
    .add-new-btn {
        position: fixed;
        left: 0;
    }
    .admin-table {
        margin-top: 44px;
    }
}
@media screen and (max-width: 495px) {
    .image-upload-form>* {
        display: block;
        margin: 20px auto;
    }
    #loginForm .login-btn-holder {
        padding-left: 10px;
    }
}
/* Responsive layout */