.admin-table{
    width: 100%;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center
}

td, th{
    border: 3px solid black;
}

h1{
    text-align: center;
}

input[type=text],input[type=number],input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file] {
    width: 100%;
    max-width: 720px;
    margin:0 auto;
    padding: 12px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.img-block {
    width: 100%;
    max-width: 720px;
    margin:0 auto;
}

.img-block>label, button {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}

.img-block>img {
    width: 100%;
    max-width: 720px;
}

.img-block>input[type=text] {
    font-size: 1em;
}

textarea {
    width: 100%;
    height: 350px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #FFF;
    font-size: 16px;
    resize: none;
}

.delete-post {
    cursor: pointer;
    color: red;
}